<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>121154434437-8opoa6g7ei4qik7u3j4m24t62ll9f25q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.121154434437-8opoa6g7ei4qik7u3j4m24t62ll9f25q</string>
	<key>API_KEY</key>
	<string>AIzaSyCXgkIKvBCOO92SKMotsRAGLNm0a-apf6M</string>
	<key>GCM_SENDER_ID</key>
	<string>121154434437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>novembrz.iLetter</string>
	<key>PROJECT_ID</key>
	<string>iletter-6ecf2</string>
	<key>STORAGE_BUCKET</key>
	<string>iletter-6ecf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:121154434437:ios:90ee867a0231da518200ec</string>
	<key>DATABASE_URL</key>
	<string>https://iletter-6ecf2.firebaseio.com</string>
</dict>
</plist>